@import url('https://fonts.googleapis.com/css2?family=Anta&family=Merriweather&display=swap');


:root{
    --azul-escuro: #2B2D42;
    --azul-claro: #8D99AE;
    --branco: #EDF2F4;
    --vermelho: #EF233C;
    --font-titulo: "Merriweather", monospace;
    --font-texto: "Anta", serif;
}

body{
    background-color: var(--vermelho);
    color: var(--azul-claro);
    font-family: var(--font-texto);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}