@import url('https://fonts.googleapis.com/css2?family=Anta&family=Merriweather&display=swap');


:root{
    --azul-escuro: #2B2D42;
    --azul-claro: #8D99AE;
    --branco: #EDF2F4;
    --verde-agua: #1cb1a4;
    --preto: #000000;
    --font-titulo: "Merriweather", monospace;
    --font-texto: "Anta", serif;
}

body {
    background-color: var(--azul-escuro);
    color: var(--verde-agua);
    font-family: var(--font-texto);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span {
    color: var(--verde-agua);
}

.botao {
    font-family: var(--font-texto);
    font-size: 18px;
    background-color: var(--azul-claro);
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--verde-agua);
    border-right: 4px solid var(--verde-agua);
    border-left: 4px solid var(--verde-agua);
    border-top: 4px solid var(--verde-agua);

}

.botoes {
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}

.botao.ativo{
    background-color: var(--azul-escuro);
    border-bottom: 4px solid var(--preto);
}

.abas-textos{
    background-color: var(--branco);
    padding: 40px;
    border-radius:0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde-agua);
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}